In [1]:
L= [8, 5, 6, 3, 7]

In [2]:
len(L)

5

In [13]:
max(L)

8

In [14]:
min(L)

3

In [15]:
sum(L)

29

In [16]:
L[0]

8

In [17]:
L[len(L)-1]

7

In [18]:
L[-3]

6

In [19]:
L[-1] #minus goes from right to left

7

In [20]:
L[0:3]

[8, 5, 6]

In [21]:
L[0:3] #means display 0,1,2.....the number after the colon is not inclusive

[8, 5, 6]

In [22]:
L[-2:]

[3, 7]

In [23]:
L[::-2]

[7, 6, 8]

In [24]:
L[-2::]

[3, 7]

In [25]:
L[::-3]

[7, 5]

In [2]:

## dictionaries: x={'a':[1,2,3]}
## tuples: x=(1,2,3)
## lists: x=[1,2,3]

In [3]:
## keep your data long as long as possible

Cookbook:

In [4]:
#after opening a dataset
print(df) #5 or 10 rows from top and bottom
print(df.head(20)) #top rows, pick how many
df.tail(20)
df.shape
df.info()
df.df.describe()
df['var'].nunique() 
df['var'].value_counts()[:10] #top 10 most used categories

NameError: name 'df' is not defined